<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>User since:</b>
  <%= @user.created_at %>
</p>

<p>
  <b>User level:</b>
  <% level = session[:user].isadmin?? "Administrator" : "User" %>
  <%= level %>
</p>

<% if !session[:user].nil? %>
    <% if session[:user].isadmin? %>
<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
        <% end %>
<% end %>
<%= link_to 'Back', :action => 'index' %>