<h1>All Users</h1>

<table>
  <tr>
    <th>User Name</th>
    <th>isadmin</th>
    <th>Date Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.isadmin? %></td>
        <td><%= user.created_at %></td>
        <td><%= link_to 'Show', user %></td>
        <% if !session[:user].nil? && session[:user].isadmin? %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, confirm: 'Are you sure?', :controller => 'users', :method => :delete,  :id => user.id%></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'Back', '/' %>