<h1>All Users</h1>

<table>
  <tr>
    <th>User Name</th>
    <th>isAdmin</th>
    <th>Date Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.userName %></td>
        <td><%= user.isAdmin? %></td>
        <td><%= user.created_at %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', confirm: 'Are you sure?', :action => "delete_user", :id => user.id %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'Back', '/' %>