<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.userName %>
</p>

<% if !session[:user].nil? %>
    <% if session[:user].isAdmin? %>
<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Isadmin:</b>
  <%= @user.isAdmin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
        <% end %>
<% end %>
<%= link_to 'Back', :action => 'index' %>