<h1><%="#{@user.userName}'s Homepage"%></h1>
<p>
  <b><%= "Account created on #{@user.created_at}" %></b>
</p>
<br />
<%= render 'posts/search' %>
<br />
<%= link_to 'New Post', new_post_path %>

<br /><br />

<%= render 'posts/all_posts' %>

