<div class="main">
	<%= render 'shared/title' %>
	<% if session[:user] != nil && session[:user].isAdmin? %>
	<div id="admin">
		<div style="font-weight: bold; font-size: larger;">
			<%= "#{session[:user].userName} is an Administrator:" %>
		</div>
		<%= link_to 'Show Reports', :controller => 'admin', :action => 'index' %>
		<%= link_to 'Create Account', :controller => 'users', :action => 'new' %>
		<%= link_to 'Show Accounts', :controller => 'users', :action => 'show_all' %>
	</div>
	<% end %>
	<div id="allPostsLink">
		<% if @searchResult %>
		<%= link_to 'View all posts', :action => 'index' %>
		<% elsif session[:user] != nil %>
		<%= link_to 'Create a new post', :controller => 'posts', :action => 'new' %>
		<% end %>
	</div>
	<div id="loginLink">
		<%= if session[:user].nil?
      link_to 'Login/Create account', :controller => 'users', :action => 'login'
    else
      link_to 'Logout', :controller => 'users', :action => 'logout'
    end %>
	</div>

	<div>
		<p id="notice">
			<%= notice %>
		</p>
	</div>
	<div class="search">
		<%= form_tag("/home/search", :method => "post") do %>
		<%= label_tag(:search, "Search for:") %>
		<%= text_field_tag(:search) %>
		<%= submit_tag("Search") %>
		<% end %>
	</div>

	<% def parseSig(user, post)
    signature = " posted "
    if (post.body == "")
      signature = " upvoted "
    elsif (post.parent_id != nil)
      signature = " replied "
    end
    signature += "on #{post.created_at }"
    signature = (link_to user.userName, :controller => 'users', :action => 'show', :id => user.id) + signature
  end %>
	<% @posts.each do |post| %>
	<% if session[:user] != nil %>
	<div class='replyLink'>
		<%= link_to 'Reply to this post', :controller => 'posts', :action => 'new', :parent_id => post.id %>
		<%  if session[:user].isAdmin? %>
		<%= link_to 'Delete this post', post, confirm: 'Are you sure?', :controller => 'posts',
		:method => :delete,  :id => post.id%>
		<% end %>
	</div>
	<% end %>
	<div class='post parent'>
		<%= post.body %>
		<div>
			<% user = User.find_by_id(post.user_id)
      if user == nil
        user = User.new
      end %>
		</div>
		<div class='tagline'>
			<div class='conversation'>
				<%= link_to 'View this conversation', :controller => 'posts', :action => 'show', :id => post.id %>
			</div>
			<div class='signature'>
				<%= parseSig(user, post) %>
			</div>
		</div>
	</div>
	<% if @searchResult == nil
	replies = Post.where(["parent_id= ?", post.id])
	replies.each do |reply| %>
	<div class='post reply'>
		<div class='body'>
			<%= reply.body %>
		</div>
		<div>
			<% user = User.find_by_id(reply.user_id) %>
		</div>
		<div class='tagline'>
			<div class='conversation'>
				<%= link_to 'View this conversation', :controller => 'posts', :action => 'show', :id => reply.id %>
			</div>
			<div class='signature'>
				<%= parseSig(user, reply) %>
			</div>
		</div>
	</div>
	<% end %>
	<% end %>
	<% end %>
</div>
