<h1>Listing posts</h1>

<table>
  <tr>
    <!-- <th>Id</th> -->
    <th>Body</th>
    <th>Parent</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr style="font-weight:bolder">
    <!-- <td><%= post.id %></td> -->
    <td><%= post.body %></td>
    <td><%= post.parent_id %></td>
    <td><%= post.user_id %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
    <% replies = Post.where(["parent_id= ?", post.id])
    replies.each do |reply| %>
    <tr>
        <td>&nbsp;-><%= reply.body %></td>
	    <td><%= reply.parent_id %></td>
	    <td><%= reply.user_id %></td>
	    <td><%= link_to 'Show', reply %></td>
	    <td><%= link_to 'Edit', edit_post_path(reply) %></td>
	    <td><%= link_to 'Destroy', reply, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
    <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
