<% def parseSig(user, post)
  signature = " posted "
  if (post.body == "")
    signature = " upvoted "
  elsif (post.parent_id != nil)
    signature = " replied "
  end
  signature += "on #{post.created_at }"
  signature = (link_to user.userName, :controller => 'users', :action => 'show', :id => user.id) + signature
end %>
<% @posts.each do |post| %>
<div class='link'><%= link_to 'Reply to this post', new_post_path %>
  <%= link_to 'Delete this post', new_post_path %></div>
<% user = User.find_by_id(post.user_id)%>
<div class='post parent'>
	<%= post.body %>
	<% user = User.find_by_id(post.user_id) %>
	<div class='signature'>
		<%= parseSig(user, post) %>
	</div>
</div>
<% replies = Post.where(["parent_id= ?", post.id])
replies.each do |reply| %>
<div class='post reply'>
	<div class='body'>
		<%= reply.body %>
	</div>
	<% user = User.find_by_id(reply.user_id) %>
	<div class='signature'>
		<%= parseSig(user, reply) %>
	</div>
</div>
<% end %>

<% end %>

<br />

<%= link_to 'Create a new post', new_post_path %>
