<%= link_to 'View all posts', :controller => 'home', :action => 'index' %>
<% def parseSig(user, post)
    signature = " posted "
    if (post.body == "")
      signature = " upvoted "
    elsif (post.parent_id != nil)
      signature = " replied "
    end
    signature += "on #{post.created_at }"
    signature = (link_to user.username, :controller => 'users', :action => 'show', :id => user.id) + signature
  end %>
<% if session[:user] != nil %>
<div class='replyLink'>
	<%= link_to 'Reply to this post', :controller => 'posts', :action => 'new', :parent_id => @post.id %>
	<%  if session[:user].isadmin? %>
	<%= link_to 'Delete this post', @post, confirm: 'Are you sure?', :controller => 'posts',
	:method => :delete,  :id => @post.id%>
	<% end %>
</div>
<% end %>
<% user = User.find_by_id(@post.user_id)%>
<div class='post parent' style="border-color: <%= params[:id].to_i == @post.id ? "red" : "none" %>">
	<%= @post.body %>
	<div class='signature'>
		<%= parseSig(user, @post) %>
	</div>
</div>
<% @replies.each do |reply| %>
<div class='post reply' style="border-color: <%= params[:id].to_i == reply.id ? "red" : "none" %>">
	<div class='body'>
		<%= reply.body %>
	</div>
	<% user = User.find_by_id(reply.user_id) %>
	<div class='signature'>
		<%= parseSig(user, reply) %>
	</div>
</div>
<% end %>
