<!DOCTYPE html>
<html>
	<head>
		<title>BackChan</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="header">
		<h1 class="title">Welcome to BackChan</h1>
		<h3 class = "title">You are logged in as <%= session[:user].nil? ? "guest" : "#{session[:user].username}" %></h3>
		</div>
		<div class="main">
		<div id="notice">
			<%= flash[:notice].nil? ? "" : flash[:notice] %>
		</div>
		<div id="error">
			<%= flash[:error].nil? ? "" : flash[:error] %>
		</div>
		<%= yield %>
		</div>
	</body>
</html>
